rawdata/*
procdata

results/*
references/*
.snakemake/*
sandbox/
logs/
*.RData
resources/*.RData*
resources/*.zip
resources/*.tar.gz

*.rds
*.RDS

.DS_Store
TRASH# pixi environments
.pixi
*.egg-info

orcestradata
rawdata

storage.googleapis.com

TRASH